body {
    margin: 0;
    height: 1440px;
    

}

.NAVI {
    padding: 20px;
    margin: 20px;
    
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(239, 239, 248);
    justify-content: center;

}
.qqq{
    border: thick double rgb(177, 173, 170);
    padding: 9px;
    margin: 20px ;
    
}



.HEAD {
display: flex;
justify-content: center;
    flex-wrap: wrap;

}

.www {
    border: thick double rgb(165, 162, 160);
    padding:9px;
    margin: 40px ;
   
    
}

.content {
    border: thick double rgb(150, 148, 146);
   padding: 15px;
    display: flex;
    
    max-width: 45%;
    min-height: 15%;
    margin-left: 2%;
    margin-top: 4%;
    position: absolute;
    z-index: 1;
   }

h2 {
    text-align: center;
    padding: 20px;
}

.block{
    border: thick double rgb(158, 157, 157);
    padding: 15px;
   display: flex;
 margin-left: 50%;
   max-width: 45%;
   min-height: 15%;
   margin-top: 4%;

   margin-bottom: 20%;
   position: absolute;
   z-index: 2;
   
 
   
   
    

}
.rrr{
   
display: flex;
position: absolute;
z-index: 3;
margin-top: 50%;

;


}
.text_1{
   
    border: thick double rgb(134, 133, 132);
    padding: 55px;
    display: flex;
    position: absolute;
    z-index: 4;
    max-width: 24%;
    min-height: 17%;
 
    list-style-type: none;
 
}
.text_2{
   
    border: thick double rgb(114, 112, 111);
    padding: 55px;
    display: flex;
    position: absolute;
    z-index: 5;
    max-width: 25%;
    min-height: 17%;
    margin-left: 28%;
    list-style-type: none;
    
}
.text_3{
    
    border: thick double rgb(124, 123, 123);
    display: flex;
    padding: 55px;
    
    max-width: 25.5%;
    min-height: 17%;
    margin-left: 63%;
    
    list-style-type: none;
    
}
.created{
    display: flex;
    position: absolute;
    z-index: 6;
    margin-top: 80%;
    margin-left: 45%;
    font-size: 25px;
}

@media screen and (min-width: 270px) and (max-width:410px){
    .NAVI{
        font-size: 10px;
    flex-direction: column;
    }
    .HEAD{
        font-size: 10px;
      flex-direction: column;
    }
    .content{
        font-size: 10px;
       flex-direction: column;
    }
    .block{
        font-size: 10px;
        flex-direction: column;
    }
    .text_1{
        font-size: 10px;
        flex-direction: column;
    }
    .text_2{
        font-size: 10px;
        flex-direction: column;
    }
    .text_3{
        font-size: 10px;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 410px) and (max-width:510px){

}



@media screen and (min-width: 510px) and (max-width:768px){

}


@media screen and (min-width: 768px) and (max-width:1024px){

}


@media screen and (min-width: 1024px) and (max-width:1440px){

}